p{   
    
    color: purple;
    text-align: center;
    

}
h1{
    text-align: center;
    color:blueviolet;
}

body{
    background-color:peachpuff

}
.my-button {
    
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline */
    font-size: 24px; /* Increase font size */
    margin: 4px 2px; 
    cursor: pointer; /* Pointer/hand ic
    border-radius: 12px; /* Rounded corners */
}
